body,
html {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  height: 100%;
}

.logo {
  background-image: url('img/creed.jpg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  color: pink;
}

div.buffer {
  margin-top: 48px;
}
