body,
html {
  font-family: 'Roboto', sans-serif;
  background-color: #000818;
  height: 100%;
}

.logo {
  background-image: url('img/creed.jpg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  color: pink;
}

div.buffer {
  padding-top: 48px;
}

div.card {
  background-color: #001a33;
  padding: 20px;
  border-radius: 5px;
  height: 100%;
}

div.homeCard {
  padding: 20px;
  border-radius: 5px;
  height: 100%;
}

div.item {
  width: 90%;
}

div.grid {
  width: 48%;
  height: 405px;
}

img.profile {
  width: 140px;
  height: auto;
  margin-right: 30px;
  border-radius: 50%;
}

div.interestData {
  width: calc(100% - 125px);
}

img.projectsPreview {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

img.interestsPreview {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

p.footnote {
  color: #777777;
  font-style: italic;
  font-size: smaller;
  margin-top: 20px;
}

p.ftProjects {
  margin-left: 15px;
}

p.ftInterests {
  margin-left: 50px;
}

p.textButton {
  margin-left: 5px;
}

button.resume {
  height: 30px;
  margin-left: 10px;
  span.MuiButton-label {
    font-size: smaller;
  }
}

div.extra {
  margin-bottom: 20px;
}

img.logo {
  height: 30px;
  width: auto;
  margin-left: 15px;
}
