body,
html {
  font-family: 'Roboto', sans-serif;
  background-color: #000818;
  height: 100%;
}

.logo {
  background-image: url('img/creed.jpg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  color: pink;
}

div.buffer {
  padding-top: 48px;
}

div.card {
  background-color: #001a33;
  padding: 20px;
  border-radius: 5px;
  height: 100%;
  transition: all 0.35s ease-in-out;
}

div.card:hover {
  box-shadow: 0.1px 0.1px 10px #ffa500;
}

div.item {
  width: 90%;
}

div.grid {
  width: 48%;
  height: 400px;
}

div.profile {
  width: 200px;
  height: auto;
  margin-right: 30px;
}

div.interestData {
  width: calc(100% - 125px);
}

img.projectsPreview {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

img.interestsPreview {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}
