.main {
    margin-left: 24.95vw;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.img_container {
    width: 225px;
    height: 225px;
}

.img {
    border-radius: 150px;
}

.text_container {
    width: 350px;
}

.title {
    margin-top: 18px;
}

.body {
    font-size: 18px;
    color: #c4c4c4;
    margin-top: 9px;
    margin-bottom: 9px;
}