
.box {
    border-top: 1px solid white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.left {
    border-left: 1px solid white;
}

.right {
    border-right: 1px solid white;
}

.box::before {
    position: absolute;
    top: -1px;
    content:'';
    border-top: var(--corner-size) solid white;
}

.box::after {
    position:absolute;
    top:-2px;
    content:'';
    border-top: var(--corner-size) solid black;
}

.left::before {
    left: -1px;
    border-right: var(--corner-size) solid transparent;
}

.left::after {
    left:-2px;
    border-right: var(--corner-size) solid transparent;
}

.right::before {
    right: -1px;
    border-left: var(--corner-size) solid transparent;
}

.right::after {
    right:-2px;
    border-left: var(--corner-size) solid transparent;
}

.small::before {
    border-width: var(--small-corner-size);
}

.small::after {
    border-width: var(--small-corner-size);
}

@media only screen and (max-width: 1000px) {
    .box {
       border-left: none; 
       border-right: none; 
    }

}

@media only screen and (max-width: 520px) {
    .box::before {
        border-width: var(--small-corner-size);
    }

    .box::after {
        border-width: var(--small-corner-size);
    }

    .left::before {
        border-width: var(--small-corner-size);
    }

    .left::after {
        border-width: var(--small-corner-size);
    }

    .right::before {
        border-width: var(--small-corner-size);
    }

    .right::after {
        border-width: var(--small-corner-size);
    }
}