.main {
    padding-left: 20vw;
}

.header {
    display: none;
}

.angled_corner {
    width: 60vw;
}

.container {
    padding-top: 5vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
}

.card {
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position {
    margin-top: 5px;
}

.time {
    color: #c4c4c4;
    margin-top: 5px;
}

.learn_more {
    display: flex;
    cursor: pointer;
    margin-top: 3px;
}

.lm_text {
    text-decoration: underline;
}

.modal_background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;

    transition: background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                z-index 1s cubic-bezier(0.77,0.2,0.05,1.0);
}

.background_show {
    background-color: rgba(0, 0, 0, 0.7);
}

.background_hide {
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
}



.modal {
    position: fixed;
    background-color: white;
    border-radius: 2px;
    color: black;
    top: 50%;
    left: 50%;
    width: 60vw;
    min-width: 650px;
    max-width: 750px;
    height: 40vh;
    max-height: 350px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.modal_show {
    transform: translate(-50%, -50%);
}

.modal_hide {
    transform: translate(-50%, 70vh);
}

.x {
    position: fixed;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.modal_headers {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_position {
    margin-top: 5px;
    text-align: center;
}

.modal_time {
    color: #333333;
    margin-top: 5px;
}

.modal_description {
    width: 350px;
}

.statement {
    padding: 0.5em;
}

@media only screen and (max-width: 1000px) {
    .main {
        padding-left: 0;
    }

    .header {
        display: flex;
        width: 60vw;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .angled_corner, .header {
        width: 100vw;
    }
}

@media only screen and (max-width: 720px) {
    .modal {
        flex-direction: column;
        height: auto;
        width: auto;
        min-width: 0px;
        max-height: 90vh;
        padding: 18px;
    }

    .modal_headers {
        margin-bottom: 18px;
    }
}

@media only screen and (max-width: 520px) {
    .modal_headers, .modal_description {
        width: 80vw;
        overflow: scroll;
    }
}