.main {
    padding-left: 20vw;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position {
    margin-top: 5px;
}

.time {
    color: #c4c4c4;
    margin-top: 5px;
}

.learn_more {
    display: flex;
    cursor: pointer;
    margin-top: 3px;
}

.lm_text {
    text-decoration: underline;
}

.modal_background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
}


.modal {
    position: fixed;
    background-color: white;
    border-radius: 2px;
    color: black;
    top: 50%;
    left: 50%;
    width: 60vw;
    min-width: 650px;
    height: 40vh;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.x {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.modal_headers {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_position {
    margin-top: 5px;
    text-align: center;
}

.modal_time {
    color: #333333;
    margin-top: 5px;
}

.modal_description {
    width: 350px;
    /* padding: 20px; */
}

.statement {
    padding: 0.5em;
}