html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
}

body {
  opacity: 0;
  transition: opacity 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-size: 28px;
  font-weight: normal;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 520px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
}

:root {
  --corner-size: 100px;
  --small-corner-size: 50px;
}