.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exp_transition {
    border-right: 1px solid white;
    width: 60vw;
    height: 40vh;
    margin-left: 20vw;
}
