.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.progress {
    position: fixed;
    left: 0;
    top: 0;
    height: 8px;
    background-color: white;
    z-index: 1000;
}

.exp_transition {
    border-right: 1px solid white;
    width: 60vw;
    height: 25vh;
    margin-left: 20vw;
}

@media only screen and (max-width: 1000px) {
    .exp_transition {
        border-right: none;
    }
}

@media only screen and (max-width: 520px) {
    .exp_transition {
        height: 38vh
    }
}