.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.nav {
  position: fixed;
  right: 0;
  /* top: 50%; */
  top: 0; 
  bottom: 0; 
  margin-top: auto; 
  margin-bottom: auto; 
  height: 100px;
}

.exp_transition {
    border-right: 1px solid white;
    width: 60vw;
    height: 25vh;
    margin-left: 20vw;
}

.proj_transition {
    border-left: 1px solid white;
    width: 60vw;
    height: 25vh;
    margin-left: 20vw;
}

.about_transition {
    border-left: 1px solid white;
    width: 60vw;
    height: 25vh;
    margin-left: 24.95vw;
}

.contact_transition {
    border-right: 1px solid white;
    width: 55vw;
    height: 25vh;
    margin-left: 24.95vw;
}