.nav {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 10;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: .7;
    transition: .25s;
    font-size: 14px;
    font-weight: normal;
    margin-right: 20px;
    cursor: pointer;
}

.current_container {
    opacity: 1;
}

.container:hover {
    opacity: 1;
}

.name {
    margin: 6px;
}

.box {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background-color: black;
}

.current_box {
    background-color: white;
}

.hamburger {
    display: none;
}

.links {
    display: none;
}

.bar {
    background-color: white;
    width: 40vw;
    height: 1px;
    margin: 20px;

}

@media only screen and (max-width: 1000px) {

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        margin-right: 0;
    }

    /* https://codepen.io/erikterwan/pen/EVzeRP */
    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        right: 15px;
    }

    .checkbox {
        display: block;
        position: absolute;
        width: 40px;
        height: 27px;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }

    .span {
        position: relative;
        display: block;
        height: 4px;
        width: 33px;
        background-color: white;
        margin-bottom: 5px;
        margin-left: 3px;
        z-index: 1;

        transform-origin: 95% 0%;
  
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    .span:first-child {
        transform-origin: 0% 0%;
    }

    .span:nth-last-child(3) {
        transform-origin: 95% 100%;
    }

    .checkbox:checked ~ .span {
        opacity: 1;
        transform: rotate(45deg) translate(1.5px, 1.5px);
    }

    .checkbox:checked ~ .span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .checkbox:checked ~ .span:nth-last-child(3) {
        transform: rotate(-45deg) translate(1.5px, -1.5px);
    }

    .nav_bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        -webkit-font-smoothing: antialiased;
        background-color: rgba(0, 0, 0, 1);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .name {
        font-size: 32px;
    }

    .nav_close {
        transform: translate(0%, 100%);
        opacity: 0;
    }

    .nav_open {
        transform: none;
        opacity: 1;
    }

    .box {
        display: none;
    }
}