.main {
    margin-left: 20vw;
}

.tail_proj {
    margin-left: 5vw;
}

.card_left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card_right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.head_proj {
    margin-left: 5vw;
    width: calc(100% - 5vw + 1px);
}

.data_left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    width: 350px;
}

.data_right {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.clay_left {
    margin-left: -100px;
}

.name {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.description {
    font-size: 25px;
    color: #c4c4c4;
    margin: 0;
    padding: 0;
}

.learn_more {
    display: flex;
    color: white;
    cursor: pointer;
    margin-top: 5px;
}

.lm_text {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration: underline;
}

.betmate {
    margin-right: -150px;
    width: 300px;
    height: 202.85px;
}

.therabot {
    margin-left: -70.465px;
    width: 140.93px;
    height: 300px;
}

.whiteboard {
    margin-right: -74.265px;
    width: 148.53px;
    height: 300px;
}

.boboddy {
    margin-left: -150px;
    width: 300px;
    height: 235.53px;
}